@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300);
@import url(http://fonts.googleapis.com/css?family=Chivo:900);

* {
	padding: 0;
	margin: 0;
}
html, body {
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}
#nav {
	position: fixed;
	left: 0;
	top: 180px;
	width: 330px;
}

#nav .item {

	background-color: #191919;
	padding: 5px 20px 5px 20px;
	color: #FFF;
	margin-bottom: 3px;
	width: auto;
	display: inline-block;
	margin-right: 100px;
	font-weight: 700;
	cursor: pointer;
	font-size: 20px;
}
#nav .item:hover {
	background-color: #FFFFFF;
	color: #191919;
}
#viewHolder {
	width: 100%;
	height: 100%;
	position: relative;
}
#view1 {
	width: 100%;
	height: 100%;
	position: relative;
}
#view1 .cover {
	position: relative;
	width: 100%;
	height: 80.25%;
	background: url(../image/bg_home3.jpg) no-repeat center bottom fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 642px;
}
#view1 .logoHolder {
	width: 100%;
	height: 158px;
	position: absolute;
	bottom: 0;
	background-color: #FFFFFF;
	text-align: center;
}
#view1 .logoHolder .logo {
	width: 399px;
	height: 91px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 33px;
}
#view1 .countdownHolder {
	position: absolute;
	right: 20px;
	top: 20px;
	text-align: center;
	color: #DDBF31;
	font-weight: 800;
	text-shadow: 1px 1px 1px #000;
}
#view1 .countdownHolder .text {

	font-size: 18px;
	margin-top: 5px;
}
#countdown li {
	font-size: 30px;
	list-style: none;
	text-align: center;
}
#countdown li p.title {
	font-size: 14px;
	margin-top: -10px;
}
#countdown li {
	display: inline-block;
	margin-left: 10px;
}
#view2 {
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #383733;
}
.divider {
	width: 100%;
	height: 5px;
	background-color: #383733;
	/*z-index: 99999;*/
	position: relative;
}
#view2 .nav {

	float: right;
	color: #FFFFFF;
}
#view2 .nav li {
	display: inline-block;
	cursor: pointer;
	font-weight: bold;
}
#view2 .nav li:hover {
	background-color: #191919;
}
#view2 .nav li p {
	padding: 25px 30px 25px 30px;
}
#view2 .nav .location {
	background-color: #ddbf31;
}
#view2 .nav .parking {
	background-color: #b9bc4e;
}
#view2 .nav .hotels {
	background-color: #e28c52;
}
#view2 .nav .directions {
	background-color: #5e8687;
}
#view2 .navHolder {
	width: 100%;
	background-color: #FFF;
	color: #000000;
	border-bottom: 5px solid #191919;
}
#view2 .navHolder .title {
	float: left;
	padding: 25px 30px 25px 30px;
	font-weight: 800;
}
#locationContent {
	background: url(../image/hall.gif) no-repeat right 103px;
	width: 100%;
	height: 724px;
	position: absolute;
}
#parkingContent {
	background: url(../image/parking.gif) no-repeat right 103px;
	width: 100%;
	height: 724px;
	position: absolute;
	visibility: hidden;
}
#hotelContent {
	background: url(../image/hotels.gif) #73880a no-repeat right top;
	width: 100%;
	height: 724px;
	position: absolute;
	visibility: hidden;
}
#hotelContent hr {
	border: 0;
	height: 2px;
	background-color: #FFFFFF;
	margin-bottom: 10px;
}
#venueSlider {
	background: url(../image/location_map.gif) #73880a no-repeat right top;
	width: 100%;
	height: 724px;
	position: relative;
}
#venueSlider .copyHolder {
	background-color: #191919;
	padding: 20px;
	color: #FFFFFF;
	width: auto;
	display: inline-block;
	margin-left: 350px;
	margin-top: 60px;
	font-size: 17px;
}
#venueSlider .copyHolder h1 {
	color: #ddbf31;
	font-size: 21px;
}

#venueSlider .copyHolder .title {
	font-weight: bold;
}
#venueSlider .copyHolder .small {
	font-size: 11px;
}
#venueSlider .copyHolder .place {
	margin-bottom: 10px;
}
.clearBoth {
	clear: both;
	float: none;
	height: 0;
	width: 0;
}
@media all and (max-width: 790px) {

	#nav {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		background-color: #191919;
	}

	#nav .item {

		padding: 5px 5px 5px 5px;
		margin-right: 0px;
		font-size: 14px;
	}
	#venueSlider .copyHolder {

		padding: 20px;
		font-size: 14px;
		margin-left: 20px;
		margin-top: 60px;
	}
	#venueSlider .copyHolder h1 {
		color: #ddbf31;
		font-size: 17px;
	}
	#view1 .countdownHolder {
		top: 40px;
	}
	#view2 .nav li p {
		padding: 15px 20px 15px 20px;
		font-size: 12px;
	}
	#view2 .navHolder .title {
		font-size: 12px;
		padding: 15px 20px 15px 20px;
	}
	#view1 .cover {
	background: url(../image/bg_home3.jpg) no-repeat center center ;
	}
}