@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300);
@import url(http://fonts.googleapis.com/css?family=Chivo:900);
@import url(http://fonts.googleapis.com/css?family=Fenix);

* {
	padding: 0;
	margin: 0;
}
html, body {
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	background-color: #1a1a1a;
}
body {
	overflow: auto;
}
#viewHolder {
	width: 100%;
	height: 100%;
	position: relative;
	min-width: 1000px;
}
#nav {
	position: fixed;
	right: 0;
	background-color: #1a1a1a;
	color: #FFFFFF;
	list-style: none;
	z-index: 10;
	padding: 15px 56px 15px 56px;
	vertical-align: middle;
}
#nav li {
	display: inline-block;
	font-weight: 800;
	font-size: 18px;
	margin-right: 15px;
	cursor: pointer;
}
#nav li:hover {
	color: #FF9C00;
}
#nav li.last {
	margin-right: 0px;
}
#nav .homeicon {
	width: 20px;
	height: 18px;
	background: url(../image/home_icon.gif) no-repeat;
}
#nav .homeicon:hover {
	background-position: 0 -18px;
}
#sound {
	margin-top: 2px;
	width: 26px;
	height: 19px;
	background: url(../image/sound.gif) no-repeat;
	background-position: 0 -19px;
	margin-bottom: -2px;
}
#sound.off {
	background-position: 0 0px;
}
/* Home */
#homeView {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	min-height: 800px;
}
.logo {
	width: 324px;
	height: 168px;
	left: 40px;
	position: absolute;
	background: url(../image/logo.gif) no-repeat;
}
.us {
	width: 637px;
	height: 682px;
	position: absolute;
	background: url(../image/us.png) no-repeat;
	left: 50%;
	bottom: 0;
	margin-left: -318.5px;
}
.backgroundCover {

	visibility: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
}
#backgroundFader {
	position: absolute;
	width: 100%;
	height: 100%;
}
.bg1 {
	background: url(../image/bg1.jpg) no-repeat center bottom fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.bg2 {
	background: url(../image/bg2.jpg) no-repeat center bottom fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.countdownHolder {
	position: absolute;
	right: 0px;
	bottom: 0px;
	text-align: center;
	color: #ff9c00;
	font-weight: 800;
	text-shadow: 1px 1px 1px #000;
	padding: 30px;
	background-color: #191919;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
	font-family: "Century Gothic", "Times Roman", sans-serif;
}
.countdownHolder .text {

	font-size: 18px;
	margin-top: 5px;
	color: #FFFFFF;
}
#countdown li {
	font-size: 30px;
	list-style: none;
	text-align: center;
}
#countdown li p.title {
	font-size: 14px;
	margin-top: -5px;
}
#countdown li {
	display: inline-block;
	margin-left: 10px;
}
#countdown li.first {
	margin-left: 0px;
}
/* GENERAL */
.sectionHeading {
	width: 100%;
	background-color: #c9cc38;
	padding-top: 28px;
	padding-bottom: 28px;
}
.sectionHeading p {
	color: #FFFFFF;
	font-family: "Century Gothic", "Times Roman", sans-serif;
	font-weight: bold;
	margin-left: 40px;
	font-size: 35px;
}
.headingTab {
	background-color: #ff9c00;
	padding: 17px 27px 17px 27px;
	color: #FFFFFF;
	font-weight: bold;
	font-family: "Century Gothic", "Times Roman", sans-serif;
	display: inline-block;
	margin-bottom: 40px;
}
.contentWrapper {
	margin-left: 40px;
	margin-right: 40px;
	padding-bottom: 80px;
}
.contentWrapper .columns {
	list-style: none;
	width: 100%;
}
.contentWrapper .columns li {
	display: inline-block;
	width: 45%;
	margin-right: 5%;
	vertical-align: top;
	margin-bottom: 10px;
}
.contentWrapper .columns li.left {
	min-width: 513px;
}
.contentWrapper .columns li.last {
	margin-right: 0%;
}
.divider {
	width: 100%;
	background-color: #c9cc38;
	height: 12px;
	display: block;
}
/* VENUE */
#venueView {
	width: 100%;
}
#map {
	width: 100%;
	height: 390px;
	border: 3px solid #FFFFFF;
}
#venueView h1 {
	color: #FF9C00;
	font-weight: bold;
	font-family: "Century Gothic", "Times Roman", sans-serif;
	font-size: 25px;
}
#venueView .contentWrapper .columns p {
	margin-top: 10px;
	color: #FFFFFF;
	font-size: 14px;
}
#venueView .contentWrapper .columns .parking {
	background: url(../image/parking.gif) no-repeat right center;
	max-width: 513px;
	width: 100%;
	height: 367px;
	border: 3px solid #FFFFFF;
}
#venueView .contentWrapper .columns .hotels {
	background: url(../image/hotel.gif) no-repeat right center;
	max-width: 513px;
	width: 100%;
	height: 487px;
	border: 3px solid #FFFFFF;
}
#venueView .contentWrapper .columns .small {
	font-size: 11px;
}
/* Detials */
#detailsView, #contactView {
	width: 100%;
	padding-bottom: 50px;
	color: #FFFFFF;
}
#detailsView .contentWrapper p {
	color: #FFFFFF;
	font-family: "Century Gothic", "Times Roman", sans-serif;
	font-size: 14px;
}
#detailsView .contentWrapper p.description {
	margin-top: 20px;
	text-align: left;
}
.boxHolder {
	width: 45%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	display: inline-block;
	vertical-align: top;
	margin-right: 0%;
}
.boxHolder.left {
	margin-right: 5%;
}
.boxHolder h1 {
	color: #c9cc38;
	font-family: "Century Gothic", "Times Roman", sans-serif;
	font-size: 25px;
	font-weight: bold;
}
.boxHolder .hr {

	background-color: #C9CC38;
	width: 100%;
	height: 5px;
}
.boxHolder p {
	margin-top: 20px;
}
.imgRight {
	margin-left: 5%;
}
.boxHolder .detailsImage {

	width: 100%;
	background: url(../image/detailsImage.jpg) no-repeat;
	height: 327px;
	border: 3px solid #c9cc38;
	max-width: 513px;
}
/* RSVP
 */
#rsvpView {
	height: 1000px;
}
/* MEDIA */
@media all and (max-width: 1200px) and (min-width: 700px) {
	.contentWrapper .columns li {

		width: 35%;
	}
	#venueView h1 {
		font-size: 22px;
	}
	.contentWrapper .columns li.left {
		min-width: 0px;
	}
}
@media all and (max-width: 1020px) {
	.contentWrapper .columns li {

		width: 90%;
	}
	#venueView h1 {
		font-size: 22px;
	}
	#nav {
		position: relative;
	}
	#viewHolder {
		min-width: 0;
	}
	.contentWrapper .columns li.left {
		min-width: 0px;
	}
	#nav
	{
		padding: 15px 15px 15px 15px;
	}
	.logo {
		left:50%;
		margin-left: -162px;
	}
}